<!--<p [ngClass]="classes">-->
  <!--directory works!-->
<!--</p>-->
<h2>Car listing</h2>

<ul id="ninja-listing">
  <li *ngFor="let car of cars">
<div class="single-ninja">
  <span> {{car.model | uppercase | slice:0:3}}  </span>
<span [ngStyle]="{background : car.color}">{{car.color }} color</span>





</div>
  </li>
</ul>




<!--<p *ngIf=test>This is test</p>-->
<!--<button (click)="change()">Click</button>-->

<style>
  .blue {
    color: blue;
  }

  .red {
    color: red
  }

  .underline {
    text-decoration: underline
  }

</style>
