
<h2>Car listing</h2>
<form id="filter">
  <label> Filter cars by model:</label>
  <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
</form>

<ul id="ninja-listing">
  <li *ngFor="let car of cars | filter:term">
<div class="single-ninja">
  <span> {{car.model}}  </span>
<span [ngStyle]="{background : car.color}">{{car.color }} color</span>


<!--<h2>{{numbers}}</h2>-->

<!--<input type="text" [(ngModel)]="numbers">-->

<!--<button (click)="sendNumber()">Set number</button>-->





<!--</div>-->
  <!--</li>-->
<!--</ul>-->

<!--<button (click)="logIt()">LogIt</button>-->



<!--<p *ngIf=test>This is test</p>-->
<!--<button (click)="change()">Click</button>-->

<style>
  .blue {
    color: blue;
  }

  .red {
    color: red
  }

  .underline {
    text-decoration: underline
  }

</style>
