<!--<ng-content></ng-content>-->
<p>
  {{homeTitle}}
</p>
<div>

  <!--<input type="text" [(ngModel)]="myString">-->
  <!--<p>your text: {{myString}}</p>-->
  <!--<button (click)="someFunctionInHome(myString)">Click to send this text to root component</button>-->
</div>
<br>
<!--<input type="text " [attr.required]='ifRequire'>-->
<!--<button (click)="alertMe(myString)">Click me</button>-->

<!--<input type="text" [(ngModel)] = 'user.name'>-->
<!--<p>{{user.name}}</p>-->
<!--<p>{{user.surname}}</p>-->
<!--<p>{{person23.lastName}}</p>-->
<!--<p>{{person23.firstName}}</p>-->


